<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Project YO">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="ContactTest">

        <classes>

            <class name="tests.ContactUsFormPageTest">
                <methods>
                    <include name="testContactUsForm"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>